---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config/constants";
import Footer from "../components/Footer.astro";
import Main from "../components/Main";
import Page from "../components/Page";
import { config } from "../config";
import Ribbon from "../components/Ribbon";
import TagList from "../components/TagList";

const peopleSkills = [
  "Self-Motivated",
  "Problem Solver",
  "Strong Work Ethic",
  "Organized",
  "Thorough",
];

const technicalSkills = [
  "Typescript",
  "React",
  "ReactNative",
  "Javascript",
  "CSS",
  "HTML",
];

// TODO Add socials and links
// TODO Add retrospective about music
// TODO Add gamedev as a hobby
---

<Layout
  title={`About | ${SITE_TITLE}`}
  description="Read about how a GRAMMY Nominated Music Producer became enamoured with Software Engineering & Web Development."
>
  <Page>
    <Header />
    <Main>
      <h1 class="text-[12vw] font-bold uppercase leading-[0.78] md:text-[5vw]">
        About
      </h1>
      <p class="indent-12 text-sm md:text-lg">{config.bio}</p>
      <div
        class="group flex -translate-x-1 flex-row gap-2 md:-translate-x-6 md:gap-x-8"
      >
        <Ribbon label="Fun Fact">
          Tadjh is pronounced "taj" like the taj mahal
        </Ribbon>
        <div class="h-[50px] w-[65px] translate-y-2 sm:-translate-y-2">
          <svg
            id="b"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 37.68 28.81"
            ><g id="c"
              ><g id="d"
                ><g id="e"
                  ><path
                    d="M37.56,27.93h-.37l-.18-4.16h.12s.06-.01,.09-.04c.02-.02,.04-.06,.04-.09v-.62c0-.07-.05-.12-.12-.13h-.16l-.2-4.5h.3c.07,0,.12-.05,.12-.12v-.51s0-.06-.03-.09-.05-.04-.09-.04h-.34l-.18-4.05h.23s.06-.01,.09-.03c.02-.02,.04-.06,.04-.09v-.55s0-.06-.03-.09-.05-.04-.09-.04h-.3v-.72h.09c.07,0,.12-.05,.12-.12v-.25s-.01-.06-.03-.09c-.02-.02-.05-.04-.09-.04h-.02c-.09-.48-.51-.84-1-.84h0c-.5,0-.92,.36-1.01,.83-.06,.01-.1,.06-.1,.12v.25s.01,.06,.03,.09c.02,.02,.05,.04,.09,.04h.05v.72h-.35c-.07,0-.12,.05-.12,.12v.55c0,.07,.05,.12,.12,.13h.32l-.24,4.04h-.31s-.06,.01-.09,.03c-.02,.02-.04,.06-.04,.09v.51c0,.07,.05,.12,.12,.13h.27l-.27,4.5h-.2c-.07,0-.12,.05-.12,.12v.62c0,.07,.05,.12,.12,.13h.15l-.25,4.16h-.14l.03-6.73c0-.07-.06-.12-.12-.13l-3.97-.02v-1.75c0-.07-.05-.12-.12-.13h-.88v-1.84h.34s.06-.01,.09-.03c.02-.02,.04-.06,.04-.09v-.54c0-.07-.05-.12-.12-.13h-.16c-.13-1.02-1-1.81-2.05-1.82h-.01c-1.04,0-1.93,.78-2.06,1.8h-.08c-.07,0-.12,.06-.12,.12v.54s0,.06,.03,.09,.05,.04,.09,.04h.25v1.84h-.59v-2.88c.01-.07-.04-.12-.11-.13h-.68v-1.8h.13c.07,0,.12-.06,.12-.12v-.72c.42-.19,2.31-1.2,1.96-3.39-.13-.78-.54-1.54-1.2-2.2-1.38-1.38-3.24-2.62-4.25-3.26l-.28-3.1c0-.06-.06-.11-.12-.11h-.34c-.07,0-.12,.05-.12,.11l-.21,3.04c-.87,.53-2.9,1.83-4.38,3.27-.66,.65-1.08,1.4-1.22,2.18-.37,2.18,1.51,3.21,1.92,3.41v.72c0,.07,.05,.12,.12,.13h.25v1.8h-.58s-.06,0-.09,.03c-.02,.02-.04,.06-.04,.09v2.88h-.59v-1.84h.26c.07,0,.12-.05,.12-.12v-.54s0-.06-.03-.09-.05-.04-.09-.04h-.08c-.13-1.02-1.01-1.81-2.06-1.82h-.01c-1.04,0-1.92,.78-2.06,1.8h-.16s-.06,.01-.09,.04c-.02,.02-.04,.06-.04,.09v.54s0,.06,.03,.09,.05,.04,.09,.04h.33v1.84h-.89c-.07,0-.12,.05-.12,.12v1.75l-3.98-.02h0c-.07,0-.12,.06-.12,.12l-.04,6.73h-.14l-.21-4.16h.15s.06-.01,.09-.04c.02-.02,.04-.06,.04-.09v-.62c0-.07-.05-.12-.12-.13h-.19l-.22-4.5h.27s.06-.01,.09-.03c.02-.02,.04-.06,.04-.09v-.51s0-.06-.03-.09-.05-.04-.09-.04h-.31l-.2-4.05h.32c.07,0,.12-.05,.12-.12v-.55s0-.06-.03-.09-.05-.04-.09-.04h-.35v-.72h.05c.07,0,.12-.06,.12-.12v-.25s-.01-.07-.03-.09c-.02-.02-.04-.03-.07-.03-.09-.48-.51-.84-1.01-.84-.49-.01-.92,.35-1.01,.83h-.02c-.07,0-.12,.06-.12,.12v.25c0,.07,.05,.12,.12,.13h.09v.72h-.3s-.06,.01-.09,.03c-.02,.02-.04,.06-.04,.09v.55c0,.07,.05,.12,.12,.13h.23l-.22,4.04h-.34c-.07,0-.12,.05-.12,.12v.51s0,.06,.03,.09,.05,.04,.09,.04h.3l-.25,4.5h-.16c-.07,0-.12,.06-.12,.12v.62s0,.07,.03,.09,.05,.04,.09,.04h.12l-.23,4.16h-.37c-.07,0-.12,.05-.12,.12v.63s0,.07,.03,.09,.05,.04,.09,.04l36.01,.19h0s.06-.01,.09-.04c.02-.02,.04-.06,.04-.09v-.63c0-.07-.05-.12-.12-.13Zm-29.11-3.08h-1.56v-1.6c.01-.43,.36-.78,.79-.78h0c.43,0,.78,.35,.78,.79v1.59Zm4.91,2.95h-2.04v-1.86c.01-.27,.12-.53,.31-.72,.19-.19,.45-.29,.72-.29h0c.56,0,1.02,.46,1.01,1.02v1.85Zm0-3.74h-2.04v-1.86c.01-.27,.12-.53,.31-.72,.19-.19,.45-.29,.72-.29h0c.27,0,.53,.11,.72,.3,.19,.19,.3,.45,.29,.72v1.85Zm8.33,3.79l-4.33-.02,.03-5.16c0-.58,.23-1.12,.64-1.53,.41-.4,.95-.63,1.52-.63h.01c1.19,0,2.16,.98,2.16,2.18l-.03,5.16Zm6.06,.03h-2.04v-1.86c.01-.56,.47-1.01,1.03-1.01h0c.27,0,.53,.11,.72,.3,.19,.19,.3,.45,.29,.72v1.85Zm.01-3.74h-2.04v-1.86c.01-.56,.47-1.01,1.03-1.01h0c.27,0,.53,.11,.72,.3,.19,.19,.3,.45,.29,.72v1.85Zm4.44,.84h-1.56v-1.6c.01-.43,.36-.78,.79-.78h0c.21,0,.41,.08,.55,.23,.15,.15,.23,.34,.23,.55v1.59Z"
                    fill="#636f79"></path><g
                    ><g
                      ><path
                        d="M21.7,15.6l-7.12-.04-.06,11.14,7.12,.04,.06-11.14Zm-1.27,10.95l-4.58-.02,.03-5.29c0-1.27,1.04-2.29,2.3-2.28,1.27,0,2.29,1.04,2.28,2.3l-.03,5.29Z"
                        fill="#c9dfec"></path><path
                        d="M35.65,26.63l-.2-4.41h.25v-.62h-.28l-.21-4.75h.43v-.51h-.45l-.19-4.3h.36v-.55h-.42v-.97h.22v-.25h-.12c-.03-.47-.42-.84-.9-.84-.48,0-.87,.36-.91,.83h-.09v.25h.17v.97h-.48v.55h.45l-.26,4.29h-.43v.51h.4l-.29,4.75h-.31v.62h.28l-.27,4.41h-.38l.04-6.86-4.09-.02v-1.87h-.99v-2.09h.47v-.54h-.27c-.07-1.02-.91-1.81-1.93-1.82-1.03,0-1.89,.78-1.96,1.8h-.19v.54h.37v2.09h-.84l.02-3.01h-.81v-2.05h.26v-.8s2.34-.92,1.96-3.29c-.13-.81-.58-1.55-1.16-2.13-1.43-1.43-3.4-2.72-4.28-3.27l-.28-3.16h-.34l-.22,3.1c-.84,.51-2.91,1.82-4.41,3.29-.59,.58-1.04,1.3-1.18,2.12-.41,2.36,1.92,3.31,1.92,3.31v.8h.37v2.05h-.71l-.02,3h-.83v-2.09h.39v-.54h-.19c-.07-1.02-.91-1.81-1.94-1.82-1.02,0-1.87,.78-1.95,1.8h-.27v.54h.45v2.09h-1.01v1.87l-4.1-.02-.04,6.86h-.38l-.22-4.41h.28v-.62h-.31l-.24-4.75h.4v-.51h-.43l-.21-4.3h.45v-.55h-.47v-.97h.18v-.25h-.09c-.03-.47-.42-.84-.9-.84-.47,0-.87,.36-.9,.83h-.13v.25h.21v.97h-.43v.55h.36l-.24,4.29h-.46v.51h.43l-.26,4.75h-.28v.62h.25l-.24,4.41H.13v.63h.45l3.31,.02h.35l4.09,.02,5.36,.03,8.88,.05,5.36,.03,4.09,.02h.35l3.31,.02h.46v-.63h-.49Zm-28.5-3.08h-1.81v-1.73c.01-.5,.42-.9,.92-.9,.5,0,.9,.41,.9,.91v1.72Zm4.91,2.95h-2.29v-1.98c.01-.63,.53-1.14,1.16-1.14,.63,0,1.14,.52,1.14,1.15v1.97Zm0-3.74h-2.29v-1.98c.01-.63,.53-1.14,1.16-1.14,.63,0,1.14,.52,1.14,1.15v1.97Zm9.8,4.24l-7.64-.04,.06-11.67,7.64,.04-.06,11.67Zm4.59-.42h-2.29v-1.98c.01-.63,.53-1.14,1.16-1.14,.63,0,1.14,.52,1.14,1.15v1.97Zm0-3.74h-2.29v-1.98c.01-.63,.53-1.14,1.16-1.14,.63,0,1.14,.52,1.14,1.15v1.97Zm4.44,.84h-1.81v-1.73c.01-.5,.42-.9,.92-.9s.9,.41,.9,.91v1.72Z"
                        fill="#c9dfec"></path></g
                    ><g
                      ><path
                        d="M30.06,20.93h0c-.57,0-1.03,.46-1.03,1.03v1.72c0,.07,.05,.12,.12,.13h1.81s.06,0,.09-.03c.02-.02,.04-.06,.04-.09v-1.72c.01-.57-.45-1.03-1.02-1.04Zm.77,2.63h-1.56v-1.6c.01-.43,.36-.78,.79-.78h0c.43,0,.78,.35,.78,.79v1.59Z"
                        fill="#636f79"></path><path
                        d="M6.26,20.8h0c-.27,0-.53,.11-.73,.3-.2,.19-.3,.45-.3,.73v1.72c0,.07,.05,.12,.12,.13h1.81s.06,0,.09-.03c.02-.02,.04-.06,.04-.09v-1.72c.01-.57-.45-1.03-1.02-1.04Zm.77,2.63h-1.56v-1.6c0-.21,.09-.4,.24-.55,.15-.15,.34-.23,.55-.23h0c.43,0,.78,.35,.78,.79v1.59Z"
                        fill="#636f79"></path><path
                        d="M10.96,19.52h0c-.7,0-1.26,.56-1.27,1.26v1.97c0,.07,.05,.12,.11,.13h2.29s.06,0,.09-.02c.02-.02,.04-.06,.04-.09v-1.97c.01-.7-.55-1.27-1.25-1.27Zm1,3.12h-2.04v-1.86c.01-.56,.47-1.01,1.03-1.01h0c.56,0,1.02,.46,1.01,1.02v1.85Z"
                        fill="#636f79"></path><path
                        d="M10.94,23.27h0c-.7,0-1.26,.56-1.27,1.26v1.97c0,.07,.05,.12,.11,.13h2.29s.06,0,.09-.02c.02-.02,.04-.06,.04-.09v-1.97c.01-.34-.12-.66-.36-.9-.24-.24-.56-.37-.89-.38Zm1,3.12h-2.04v-1.86c.01-.56,.47-1.01,1.03-1.01h0c.27,0,.53,.11,.72,.3s.3,.45,.29,.72v1.85Z"
                        fill="#636f79"></path><path
                        d="M25.36,23.34h0c-.7,0-1.27,.56-1.27,1.26v1.97c0,.07,.05,.12,.11,.13h2.29s.06,0,.09-.02c.02-.02,.04-.06,.04-.09v-1.97c.01-.7-.55-1.27-1.25-1.27Zm1,3.12h-2.04v-1.86c.01-.56,.47-1.01,1.03-1.01h0c.56,0,1.02,.46,1.01,1.02v1.85Z"
                        fill="#636f79"></path><path
                        d="M25.38,19.6h0c-.34,0-.65,.13-.89,.37-.24,.24-.37,.56-.38,.9v1.97c0,.07,.05,.12,.11,.13h2.29c.07,.01,.12-.04,.12-.11v-1.97c.01-.7-.55-1.27-1.25-1.27Zm1,3.12h-2.04v-1.86c0-.27,.12-.53,.31-.72,.19-.19,.45-.29,.72-.29h0c.56,0,1.02,.46,1.01,1.02v1.85Z"
                        fill="#636f79"></path><path
                        d="M36.14,26.51h-.37l-.18-4.16h.12c.07,0,.12-.06,.12-.12v-.62s0-.07-.03-.09-.05-.04-.09-.04h-.16l-.2-4.5h.3s.06-.01,.09-.03c.02-.02,.04-.06,.04-.09v-.51c0-.07-.05-.12-.12-.13h-.34l-.18-4.05h.23s.06-.01,.09-.03c.02-.02,.04-.06,.04-.09v-.55s0-.06-.03-.09-.05-.04-.09-.04h-.3v-.72h.09s.06-.01,.09-.04c.02-.02,.04-.06,.04-.09v-.25s-.01-.06-.04-.09c-.02-.02-.06-.04-.09-.04h-.02c-.09-.48-.51-.84-1-.84h0c-.5,0-.92,.36-1.01,.83-.03,0-.05,.02-.07,.03-.02,.02-.04,.06-.04,.09v.25s.01,.06,.04,.09c.02,.02,.06,.04,.09,.04h.05v.72h-.35c-.07,0-.12,.05-.12,.12v.55c0,.07,.05,.12,.12,.13h.32l-.24,4.04h-.31c-.07,0-.12,.05-.12,.12v.51s0,.06,.03,.09,.05,.04,.09,.04h.27l-.27,4.5h-.2s-.06,.01-.09,.04c-.02,.02-.04,.06-.04,.09v.62c0,.07,.05,.12,.12,.13h.15l-.25,4.16h-.14l.04-6.73s-.01-.06-.04-.09-.05-.04-.09-.04l-3.97-.02v-1.75c0-.07-.05-.12-.12-.13h-.88v-1.84h.34c.07,0,.12-.05,.12-.12v-.54s0-.06-.03-.09-.06-.04-.09-.04h-.16c-.13-1.02-1-1.81-2.05-1.82h-.01c-1.04,0-1.93,.78-2.07,1.8h-.08c-.07,0-.12,.06-.12,.12v.54s0,.06,.03,.09,.05,.04,.09,.04h.25v1.84h-.59v-2.88c.01-.07-.04-.12-.11-.13h-.68v-1.8h.13s.06-.01,.09-.04c.02-.02,.04-.06,.04-.09v-.72c.42-.19,2.31-1.2,1.96-3.39-.12-.78-.54-1.54-1.2-2.2-1.38-1.38-3.24-2.62-4.25-3.26l-.28-3.1c0-.06-.06-.11-.12-.11h-.34c-.07,0-.12,.05-.12,.11l-.21,3.04c-.86,.52-2.9,1.83-4.38,3.27-.66,.65-1.08,1.4-1.22,2.18-.37,2.18,1.51,3.21,1.92,3.41v.72c0,.07,.05,.12,.12,.13h.25v1.8h-.58c-.07,0-.12,.05-.12,.12v2.88h-.59v-1.84h.26c.07,0,.12-.05,.12-.12v-.54s0-.06-.03-.09-.05-.04-.09-.04h-.08c-.13-1.02-1.01-1.81-2.06-1.82h-.01c-1.04,0-1.92,.78-2.06,1.8h-.16s-.06,.01-.09,.04c-.02,.02-.04,.06-.04,.09v.54s0,.06,.03,.09,.05,.04,.09,.04h.33v1.84h-.89s-.06,0-.09,.03c-.02,.02-.04,.06-.04,.09v1.75l-3.98-.02h0s-.06,.01-.09,.04c-.02,.02-.04,.06-.04,.09l-.03,6.73h-.14l-.21-4.16h.15s.06-.01,.09-.04c.02-.02,.04-.06,.04-.09v-.62s0-.06-.03-.09-.05-.04-.09-.04h-.19l-.23-4.5h.27c.07,0,.12-.05,.12-.12v-.51s0-.06-.03-.09-.05-.04-.09-.04h-.31l-.2-4.05h.32s.06-.01,.09-.03c.02-.02,.04-.06,.04-.09v-.55s0-.06-.03-.09-.05-.04-.09-.04h-.35v-.72h.05s.06-.01,.09-.04c.02-.02,.04-.06,.04-.09v-.25c0-.06-.04-.11-.1-.12-.09-.48-.51-.84-1.01-.84h0c-.49,0-.92,.36-1.01,.83h-.02s-.06,.01-.09,.04c-.02,.02-.04,.05-.04,.09v.25s.01,.06,.03,.09c.02,.02,.05,.04,.09,.04h.09v.72h-.3c-.07,0-.12,.05-.12,.12v.55c0,.07,.05,.12,.12,.13h.23l-.22,4.04h-.34s-.06,.01-.09,.03c-.02,.02-.04,.06-.04,.09v.51c0,.07,.05,.12,.12,.13h.3l-.25,4.5h-.16s-.06,.01-.09,.04c-.02,.02-.04,.06-.04,.09v.62s0,.06,.03,.09,.06,.04,.09,.04h.12l-.23,4.16H.13s-.06,.01-.09,.03c-.02,.02-.04,.06-.04,.09v.63c0,.07,.05,.12,.12,.13l36.01,.19h0s.06-.01,.09-.04c.02-.02,.04-.06,.04-.09v-.63c0-.07-.05-.12-.12-.13Zm-15.84-.08l-4.33-.02,.03-5.16c0-1.19,.98-2.16,2.17-2.16h.01c.58,0,1.12,.23,1.53,.64,.41,.41,.63,.96,.63,1.54l-.03,5.16Zm1.21,.19h-.98s.02-.04,.02-.07l.03-5.29c0-.65-.24-1.25-.7-1.71-.45-.46-1.06-.71-1.71-.72h-.01c-1.33,0-2.41,1.08-2.42,2.4l-.03,5.29s0,.04,.01,.06h-1.09l.06-10.9,6.87,.04-.06,10.89Zm14.5,.52l-14-.07s.02-.04,.02-.06l.06-11.67s-.01-.06-.04-.09-.05-.04-.09-.04l-7.64-.04h0c-.07,0-.12,.06-.12,.12l-.06,11.67s0,.04,.01,.06l-13.89-.07v-.38h.37c.07,0,.12-.05,.12-.12l.24-4.41s-.01-.07-.03-.09-.06-.04-.09-.04h-.13v-.37h.16c.07,0,.12-.05,.12-.12l.26-4.75s-.01-.07-.03-.09-.06-.04-.09-.04h-.31v-.26h.33c.07,0,.12-.05,.12-.12l.24-4.29s-.01-.07-.03-.09c-.02-.03-.06-.04-.09-.04h-.24v-.3h.3c.07,0,.12-.05,.12-.12v-.97c0-.07-.05-.13-.12-.13h-.09c.07,0,.12-.05,.12-.12,.03-.4,.37-.72,.77-.72h0c.41,0,.75,.32,.78,.72,0,.05,.04,.1,.09,.11h-.05s-.06,.02-.09,.04c-.02,.02-.04,.06-.04,.09v.97c0,.07,.05,.12,.12,.13h.35v.3h-.33s-.07,.01-.09,.04c-.02,.02-.04,.06-.03,.09l.21,4.29c0,.07,.06,.12,.12,.12h.3v.26h-.28s-.07,.01-.09,.04c-.02,.02-.04,.06-.03,.09l.24,4.75c0,.07,.06,.12,.12,.12h.19v.37h-.16s-.07,.01-.09,.04c-.02,.02-.04,.06-.03,.09l.22,4.41c0,.07,.06,.12,.12,.12h.38c.07,0,.12-.05,.12-.12l.03-6.73,3.97,.02h0s.06-.01,.09-.04c.02-.02,.04-.06,.04-.09v-1.75h.89s.06,0,.09-.03c.02-.02,.04-.06,.04-.09v-2.09c.01-.07-.04-.12-.11-.13h-.33v-.3h.15c.07,0,.12-.05,.12-.11,.07-.95,.87-1.68,1.82-1.68h0c.96,0,1.76,.75,1.82,1.7,0,.07,.06,.12,.12,.12h.06v.29h-.25s-.06,.01-.09,.03c-.02,.02-.04,.06-.04,.09v2.09c-.01,.07,.04,.12,.11,.13h.83s.06,0,.09-.03c.02-.02,.04-.06,.04-.09v-2.88h.59c.07,0,.12-.05,.12-.12v-2.05s0-.06-.03-.09-.05-.04-.09-.04h-.25v-.68c0-.05-.03-.1-.08-.12-.02,0-2.23-.93-1.85-3.17,.13-.73,.52-1.44,1.15-2.05,1.5-1.46,3.57-2.77,4.39-3.27,.04-.02,.06-.06,.06-.1l.21-2.98h.11l.27,3.05s.02,.07,.06,.09c.99,.62,2.87,1.87,4.26,3.26,.62,.62,1.01,1.33,1.12,2.06,.36,2.24-1.79,3.12-1.88,3.15-.05,.02-.08,.06-.08,.12v.67h-.12s-.06,.01-.09,.04c-.02,.02-.04,.06-.04,.09v2.05c-.01,.07,.04,.12,.11,.13h.68v2.88c-.01,.07,.04,.12,.11,.13h.83s.06,0,.09-.03c.02-.02,.04-.06,.04-.09v-2.09c.01-.07-.04-.12-.11-.13h-.25v-.29h.06c.07,0,.12-.05,.12-.11,.07-.95,.88-1.68,1.83-1.68h0c.95,0,1.75,.75,1.81,1.7,0,.07,.06,.12,.12,.12h.15v.29h-.33s-.06,.01-.09,.03c-.02,.02-.04,.06-.04,.09v2.09c-.01,.07,.04,.12,.11,.13h.88v1.75s0,.06,.03,.09,.05,.04,.09,.04l3.97,.02-.04,6.73c0,.07,.06,.12,.12,.13h.38c.07,0,.12-.05,.12-.12l.27-4.41s-.01-.07-.03-.09-.06-.04-.09-.04h-.15v-.37h.19c.07,0,.12-.05,.12-.12l.29-4.75s-.01-.07-.03-.09-.06-.04-.09-.04h-.28v-.26h.31c.07,0,.12-.05,.12-.12l.26-4.29s-.01-.07-.03-.09-.06-.04-.09-.04h-.32v-.3h.35c.07,0,.12-.05,.12-.12v-.97s0-.07-.03-.09c-.02-.02-.06-.04-.09-.04h-.05s.08-.06,.09-.12c.03-.4,.37-.72,.78-.72h0c.41,0,.74,.32,.77,.72,0,.07,.06,.12,.12,.12h-.09c-.07,0-.12,.06-.12,.13v.97s.02,.06,.05,.09c.02,.02,.07,.04,.1,.04h.27v.3h-.24s-.07,.01-.09,.04c-.02,.02-.04,.06-.04,.09l.19,4.29c0,.07,.06,.12,.12,.12h.33v.26h-.31s-.07,.01-.09,.04c-.02,.02-.04,.06-.04,.09l.21,4.75c0,.07,.06,.12,.12,.12h.16v.37h-.13s-.07,.01-.09,.04c-.02,.02-.04,.06-.04,.09l.2,4.41c0,.07,.06,.12,.12,.12h.36v.38Z"
                        fill="#636f79"></path></g
                    ></g
                  ></g
                ></g
              ></g
            ></svg
          >
        </div>
      </div>
      <TagList label="People Skills" tags={peopleSkills} />
      <TagList label="Technical Skills" tags={technicalSkills} />
    </Main>
    <Footer minimal />
  </Page>
</Layout>
