---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config/constants";
import ProjectsArchive from "../components/ProjectsArchive.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} level="h1">
  <section>
    <h2 class="h1">
      <a href="/projects">Projects</a>
    </h2>
    <ProjectsArchive />
  </section>
</Layout>
