---
import Layout from "../layouts/Layout.astro";
import ProjectsArchive from "../components/ProjectsArchive.astro";
---

<Layout level="h1">
  <section>
    <h2 class="text-4xl font-bold leading-[0.78] md:text-5xl lg:text-6xl">
      <a href="/projects">Projects</a>
    </h2>
    <ProjectsArchive />
  </section>
</Layout>
