---
import { faEnvelope, faLocationDot } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { Image } from "astro:assets";
import profilePicturePortrait from "../assets/images/tadjh-profile-4x5.jpg";
import Socials from "./Socials.astro";
import StyledLink from "./StyledLink.astro";
---

<div
  class="to-orange-tadjhDark relative z-10 mx-auto grid max-w-5xl grid-cols-1 overflow-hidden rounded-lg bg-gradient-to-br from-orange-tadjh text-white shadow-2xl md:grid-cols-2"
>
  <div class="order-2 flex flex-col gap-y-8 p-6 md:order-none md:p-10">
    <div class="flex flex-1 flex-col gap-y-8">
      <h2 class="text-5xl font-bold leading-[0.78] text-white md:text-6xl">
        Hi I'm Tadjh
      </h2>
      <StyledLink
        href="mailTo:hello@tadjh.com"
        target="_blank"
        rel="noreferrer"
        class="group font-display text-xl font-bold text-white md:text-3xl"
        aria-label="Email Tadjh"
      >
        <FontAwesomeIcon
          icon={faEnvelope}
          className="h-8 w-8 transition-transform group-hover:scale-110"
        />
        hello@tadjh.com
      </StyledLink>
    </div>
    <p class="indent-12 text-xl">
      A full-stack software engineer with a voracious appetite for learning
      where I hope to apply my skills in developing, problem solving and user
      experience on real products that make a difference in people's lives.
      <StyledLink
        href="/about"
        inline
        class="text-white"
        aria-label="Learn More about Tadjh"
      >
        Learn More &rarr;
      </StyledLink>
    </p>
    <div class="text-xl">
      <div>Tadjh Brooks</div>
      <div class="group flex flex-row items-center gap-x-2">
        <FontAwesomeIcon
          icon={faLocationDot}
          className="h-6 w-6 transition-transform group-hover:scale-110"
        />
        Sherman Oaks, CA
      </div>
    </div>
    <Socials />
  </div>
  <div class="relative order-1 min-h-96 overflow-hidden bg-white md:order-none">
    <div class="absolute inset-0 box-border h-full w-full">
      <Image
        src={profilePicturePortrait}
        alt="Tadjh Brooks Portrait"
        class="h-full w-full animate-fade object-cover object-[50%_16%] transition-transform hover:scale-110"
        loading="eager"
      />
    </div>
  </div>
</div>
