---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"div"> {
  children: any;
}

const { class: className, ...props } = Astro.props;
---

<div
  class={twMerge(
    "group relative flex flex-col overflow-hidden rounded-lg border border-neutral-400 bg-neutral-300 text-black/90 shadow-2xl dark:border-neutral-700 dark:bg-neutral-800 dark:text-white",
    className,
  )}
  {...props}
>
  <slot />
</div>
