---
import CallToAction from "./CallToAction.astro";
import Copyright from "./Copyright.astro";
import Theme from "./Theme";

interface Props {
  minimal?: boolean;
}

const { minimal } = Astro.props;
---

<footer
  class="mx-auto flex w-full flex-col items-center gap-y-4 bg-gradient-to-b from-transparent to-neutral-200 p-4 dark:to-neutral-950/50 md:gap-y-8 md:p-8"
>
  {!minimal && <CallToAction />}
  <div class="mb-10 flex w-full max-w-5xl justify-end">
    <Theme client:only="react" />
    <Copyright />
  </div>
</footer>
