---
import CallToAction from "./CallToAction.astro";
import Copyright from "./Copyright";
import Theme from "./Theme";

interface Props {
  minimal?: boolean;
}

const { minimal } = Astro.props;
---

<footer class="flex flex-col">
  {!minimal && <CallToAction />}
  <div class="mb-10 flex justify-end">
    <Theme client:only="react" />
    <Copyright client:visible />
  </div>
</footer>
