---
import CallToAction from "./CallToAction.astro";
import Copyright from "./Copyright";
import Theme from "./Theme";

interface Props {
  simple?: boolean;
}

const { simple } = Astro.props;
---

<footer class="flex flex-col">
  {simple && <CallToAction />}
  <div class="flex justify-between">
    <Theme client:load />
    <Copyright client:load />
  </div>
</footer>
