---
import AnimatedHeader from "./AnimatedHeader";
import AnimatedLogo from "./AnimatedLogo.astro";
import Copyright from "./Copyright.astro";
import OffCanvasMenu from "./OffCanvasMenu";
import SiteTitle from "./SiteTitle.astro";
import Socials from "./Socials.astro";
import StyledLink from "./StyledLink.astro";

export interface Route {
  url: string;
  title: string;
}

export const routes: Route[] = [
  {
    url: "/",
    title: "Home",
  },
  {
    url: "/projects",
    title: "Projects",
  },
  {
    url: "/about",
    title: "About",
  },
];

const { level } = Astro.props;
---

<header
  class="not-prose flex w-full flex-row justify-center gap-x-2 bg-gradient-to-t from-transparent to-neutral-100 p-4 md:gap-x-6 md:p-8 dark:to-neutral-800/50"
>
  <div class="flex flex-row gap-x-2 md:gap-x-4 lg:gap-x-5">
    <AnimatedHeader client:idle>
      <AnimatedLogo />
    </AnimatedHeader>
    <SiteTitle level={level} />
  </div>
  <OffCanvasMenu client:idle>
    <div class="flex flex-1 items-center">
      <ul class="flex flex-col gap-y-2 md:gap-y-4">
        {
          routes.map(({ url, title }) => {
            return (
              <li class="font-display text-3xl font-bold uppercase md:text-5xl">
                <StyledLink
                  href={url}
                  class="underline-offset-2"
                  aria-label={`Link to ${title}`}
                >
                  {title}
                </StyledLink>
              </li>
            );
          })
        }
      </ul>
    </div>
    <hr
      class="w-1/5 border-white/90 transition-transform group-hover:scale-x-150"
    />
    <Socials />
    <Copyright />
  </OffCanvasMenu>
</header>
