---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"div"> {
  label: string;
  children: any;
}

const { label, class: className, ...props } = Astro.props;
---

<div {...props} class={twMerge("relative flex self-start", className)}>
  <div
    class="absolute top-full hidden h-0 w-0 translate-y-[3px] border-b-[15px] border-r-[20px] border-b-transparent border-r-[#636f78] md:block"
  >
  </div>
  <div
    class="relative z-10 flex h-full flex-row items-center gap-x-2 bg-blue-gulf pr-4 leading-tight text-black/90 md:pr-8"
    style={{
      clipPath: "polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 0%)",
    }}
  >
    <span class="h-full bg-black/[0.08] p-2 font-display font-bold"
      >{label}:</span
    >
    <slot />
  </div>
  <div
    class="absolute left-0 top-1 h-full w-full origin-top-left scale-x-[1.005] bg-[#636f78] pr-4 text-black/90"
    style={{
      clipPath: "polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 0%)",
    }}
  >
  </div>
</div>
