---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"a"> {
  inline?: boolean;
}

const { class: className, inline = false, ...props } = Astro.props;
---

<a
  class={twMerge(
    "cursor-pointer text-black underline decoration-transparent transition-colors hover:decoration-current active:underline active:decoration-current dark:text-white",
    // "hover:text-blue-600 active:text-blue-gulf dark:hover:text-blue-gulf",
    !inline && "flex flex-row items-center gap-x-2",
    className,
  )}
  data-astro-prefetch
  {...props}
>
  <slot />
</a>
