---
import Layout from "../../layouts/Layout.astro";
import { SITE_TITLE } from "../../config/constants";
import ProjectsArchive from "../../components/ProjectsArchive.astro";
---

<Layout
  title={`Projects | ${SITE_TITLE}`}
  description="A selection of projects I'm most proud of."
  minimal
  ><section>
    <h1 class="text-4xl font-bold leading-[0.78] md:text-5xl lg:text-6xl">
      Projects
    </h1>
    <ProjectsArchive />
  </section>
</Layout>
