---
export interface Props {
  title: string;
  description: string;
  class: string;
  children: any;
}

const { title, description, class: className } = Astro.props;
---

<!doctype html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&family=Roboto+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class={`text-blue-950 bg-white ${className}`}>
    <slot />
  </body>
</html>
