---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import type { SiteTitleProps } from "../components/SiteTitle";

export interface Props extends SiteTitleProps {
  title: string;
  description: string;
  minimal?: boolean;
}

const { title, description, minimal } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style is:global>
      html {
        height: 100%;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply font-display;
      }

      h1,
      .h1 {
        @apply text-4xl font-bold uppercase leading-[0.78] md:text-5xl lg:text-6xl;
      }

      p,
      li {
        @apply text-base md:text-lg lg:text-xl;
      }

      .markdown ul {
        @apply list-disc;
      }

      .markdown img,
      .markdown video {
        @apply rounded-lg lg:-mx-12 lg:max-w-screen-md xl:-mx-48 xl:max-w-screen-lg;
      }

      section {
        @apply flex flex-col gap-y-4 md:gap-y-8;
      }

      .flip-container:hover .flip-inner,
      .flip-container.active .flip-inner {
        transform: rotateY(-180deg);
      }
    </style>
  </head>
  <body
    class="m-0 flex min-h-full flex-col items-center gap-y-8 p-0 text-black/90 dark:bg-neutral-900 dark:text-white/90"
  >
    <Header />
    <main
      class="mx-auto flex w-full max-w-5xl flex-1 flex-col gap-y-4 p-4 md:gap-y-8 md:p-8"
    >
      <slot />
    </main>
    <Footer minimal={minimal} />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </body>
</html>
