---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import type { SiteTitleProps } from "../components/SiteTitle";

export interface Props extends SiteTitleProps {
  title: string;
  description: string;
  minimal?: boolean;
}

const { title, description, minimal } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
    <style is:global>
      html {
        height: 100%;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply font-display text-neutral-900 dark:text-white;
      }

      mark {
        @apply bg-neutral-300 px-1 text-[var(--tw-prose-body)] dark:bg-neutral-800;
      }

      section {
        @apply flex flex-col gap-y-4 md:gap-y-8;
      }

      article {
        @apply prose dark:prose-invert md:prose-h1:text-center prose-neutral lg:prose-xl prose-headings:font-display md:prose-img:-mx-[38px] lg:prose-img:-mx-[72px] xl:prose-img:-mx-[104px] md:prose-video:-mx-[38px] lg:prose-video:-mx-[72px] xl:prose-video:-mx-[104px] prose-img:rounded-lg prose-video:rounded-lg md:prose-img:max-w-[728px] lg:prose-img:max-w-[960px] xl:prose-img:max-w-screen-lg md:prose-video:max-w-[728px] lg:prose-video:max-w-[960px] xl:prose-video:max-w-screen-lg;
      }

      .flip-container:hover .flip-inner,
      .flip-container.active .flip-inner {
        transform: rotateY(-180deg);
      }
    </style>
  </head>
  <body
    class="m-0 flex min-h-full flex-col items-center gap-y-8 p-0 text-neutral-700 dark:bg-neutral-900 dark:text-neutral-300"
  >
    <Header />
    <main
      id="main"
      class="mx-auto flex w-full max-w-5xl flex-1 flex-col gap-y-4 p-4 md:gap-y-8 md:p-8"
    >
      <slot />
    </main>
    <Footer minimal={minimal} />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </body>
</html>
