@tailwind base;
@tailwind components;
@tailwind utilities;

.flip {
  perspective: 1000px;
}

.flip.lg {
  width: 176px;
  height: 176px;
}

.flip.sm {
  width: 72px;
  height: 72px;
}

.flip-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  will-change: transform;
}

.header:hover .flip-inner,
.header.active .flip-inner {
  transform: rotateY(-180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}

h1,
h2 {
  @apply font-sans;
}

p {
  @apply font-mono;
}
