@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  background-color: rgba(0, 0, 0, 0.05);
} */

h1,
h2,
h3,
.subtitle,
p,
span,
a {
  @apply text-black/90 transition-colors dark:text-white/90;
}

h1,
h2 {
  @apply font-sans;
}

h1.lg {
  @apply text-[13vw] md:text-[8vw];
}

h2 {
  @apply text-[12vw] font-semibold uppercase leading-[0.78] md:text-[5vw];
}

h3 {
  @apply text-3xl font-semibold leading-[0.78];
}

p {
  @apply font-mono;
}

.subtitle {
  @apply text-[4vw] tracking-[0.05rem] md:text-[2.33vw] lg:tracking-[0.22rem];
}

.flip {
  perspective: 1000px;
}

.flip-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  will-change: transform;
}

.header:hover .flip-inner,
.header.active .flip-inner {
  transform: rotateY(-180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}
