@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  background-color: rgba(0, 0, 0, 0.05);
} */

body {
  @apply text-black/90 transition-colors dark:text-white/90;
}

h1.lg {
  @apply text-[13vw] md:text-[8vw];
}

h1.sm {
  @apply text-[13vw] md:text-[3.5vw];
}

h2 {
  @apply text-[12vw] font-bold uppercase leading-[0.78] md:text-[5vw];
}

h3 {
  @apply text-xl font-bold md:text-4xl;
}

p {
  @apply font-mono text-xs md:text-base;
}

.subtitle.lg {
  @apply text-[4vw] tracking-[0.05rem] md:text-[2.33vw] lg:tracking-[0.22rem];
}

.subtitle.sm {
  @apply text-[4vw] tracking-[0.05rem] md:text-[1.05vw] lg:tracking-[0.08rem];
}

.flip {
  perspective: 1000px;
  cursor: pointer;
}

.flip.lg {
  @apply w-[25vw] md:w-[15.5vw];
}

.flip.sm {
  @apply w-[25vw] md:w-[6.8vw];
}

.flip-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  will-change: transform;
}

.header:hover .flip-inner,
.header.active .flip-inner {
  transform: rotateY(-180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}

.navigation {
  @apply translate-x-full;
}

.navigation.active {
  @apply translate-x-0;
}

.bingo {
  background-image: url("/img/png/bingo_ball.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: bingo-reverse;
  animation-duration: 0.5s;
}

.project:hover .bingo {
  animation-name: bingo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes bingo {
  0%,
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@keyframes bingo-reverse {
  from {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  to {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
